[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
tox = "*"
pytest = "*"

[packages]
pandas = "*"
openpyxl = "*"
youtube-extract = {editable = true, path = "."}

[requires]
python_version = "3.9"
